@import "../../global.scss";

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

.title {
  color: $font-color;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.searchInput {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 2rem;
  border: $border;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: $color-primary;
  background-color: whitesmoke;

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 5px rgba($color-primary, 0.5);
    outline: none;
  }
}

.historyList {
  display: grid;
  gap: 2rem;
}

.employeeCard {
  background-color: $background-color-bis;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: $border;
}

.employeeName {
  color: $font-color;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: $border;
  padding-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;

  thead {
    background-color: $color-primary;
    color: white;
  }

  th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: $border;
  }
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: $border;
    color: black;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
}

.noRecords {
  color: $font-color;
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
}