// Global variables
$color-primary: #007bff;
$color-secondary: #2ff1ff;
$background-color: #424242;
$font-color: whitesmoke;

$border-radius: 8px;
$border: 1px solid $color-primary;

// Global base styles
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  font-family: 'monospace', monospace;
  color: $font-color;
}

.border {
  border-radius: $border-radius;
  border: $border;
}

.title{
    font-size: 24px;
}
a{
    all: unset;
    cursor: pointer;
}