// Global variables
$color-primary: #f66125;
$color-secondary: #2ff1ff;
$background-color: #424242;
$background-color-bis: #5f5f5f;
$font-color: whitesmoke;
$font-size-header: 24px;

$border-radius: 8px;
$border: 1px solid $color-primary;

// Global base styles
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  color: $font-color;
  min-width: 1024px;
  width: 100vw;
}

.border {
  border-radius: $border-radius;
  border: $border;
}

.title {
  font-size: 24px;
}
a {
  all: unset;
  cursor: pointer;
}
